.select.tip .select2-selection--single,
.select.error .select2-selection--single
{
	width: calc(100% - 55px);
	border-radius: 3px 0 0 3px;
}

.select2-selection--single
{
	background-color: $formFieldBackgroundColor;
	box-shadow: $formFieldBoxShadow;
	border: none;
	border-radius: 3px;
	padding: calc(#{$formFieldHeight} / 2 - 13px) 25px calc(#{$formFieldHeight} / 2 - 13px) 60px;
	height: auto;

	.select2-selection__rendered {
		padding: 0;
	}

	.select2-selection__placeholder {
		color: #999;
	}

	.select2-selection__clear,
	.select2-selection__arrow {
		display: none;
	}
}

&[dir="rtl"] {
	.select2-selection--single {
		.select2-selection__clear {
			float: left;
		}

		.select2-selection__arrow {
			left: 1px;
			right: auto;
		}
	}
}

&.select2-container--disabled {
	.select2-selection--single {
		background-color: #eee;
		cursor: default;

		.select2-selection__clear {
			display: none;
		}
	}
}

&.select2-container--open {
	.select2-selection--single {
		.select2-selection__arrow {
			b {
				border-color: transparent transparent #888 transparent;
				border-width: 0 4px 5px 4px;
			}
		}
	}
}
