$openSans: 'Open Sans', Geneva, Verdana, sans-serif;

$lightWeight: 300;
$regularWeight: 400;
$semiBoldWeight: 600;
$boldWeight: 700;

$maxWidth: 1260px;
$color: #383f40;

$cookieConsentBackgroundColor: #383f40;
$formFieldHeight: 55px;
$formDetailColor: #78c86e;
$formFeedbackBackgroundColor: #383f40;
$formFeedbackColor: #fff;
$formFieldBackgroundColor: #f5f5f5;
$formFieldErrorBackgroundColor: #fbf3f3;
$formFieldBoxShadow: 0 2px 0 rgba(0, 0, 0, 0.05) inset;
$formSelectBackgroundColor: #383f40;
$formSelectColor: #f5f5f5;