@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700');

html,
body
{
    font-family: $openSans;
    width: 100%;
    font-size: 17px;
    line-height: 24px;
    color: $color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.3px;
    min-height: 100vh;
    box-sizing: border-box;
}

*
{
    box-sizing: inherit;
}

.center
{
    width: 100%;
    max-width: $maxWidth;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

@import "vendor/select2/core";
@import "vendor/switchery/switchery";
@import "form/form";
@import "wysiwyg";