&.tip, &.error
{
	.feedback
	{
		display: block;

		&:hover
		{
			cursor: pointer;
		}
	}
}

&.tip
{
	.feedback
	{
		.tip-message
		{
			display: block;
		}

		.error-message
		{
			display: none;
		}
	}

	.icon::after
	{
		content: '?';
	}
}

&.error
{
	.feedback
	{
		.tip-message
		{
			display: none !important;
		}

		.error-message
		{
			display: block !important;
		}
	}

	.icon
	{
		background: $formDetailColor !important;

		&::after
		{
			content: '!' !important;
		}
	}
}

.feedback
{
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 55px;
	height: $formFieldHeight;
	text-decoration: none;
	border-radius: 0 3px 3px 0;

	.icon
	{
		font-family: $pnSemiBold;
		font-size: 14px;
		line-height: 19px;
		background: rgba(0, 0, 0, 0.15);
		width: 18px;
		height: 18px;
		margin: calc((#{$formFieldHeight} - 18px) / 2) auto;
		text-align: center;
		color: #fff;
		border-radius: 18px;
	}

	&:hover .message
	{
		display: block;
	}

	.message
	{
		font-size: 16px;
		position: absolute;
		z-index: 9999;
		top: 53px;
		right: 7.5px;
		cursor: default;
		display: none;
		width: auto;
		padding: 10px 15px;
		color: $formFeedbackColor;
		border-radius: 3px;
		white-space: nowrap;
		background: $formFeedbackBackgroundColor;

		&::after
		{
			position: absolute;
			top: -8px;
			right: 11px;
			width: 0;
			height: 0;
			content: '';
			border-right: 9px solid transparent;
			border-bottom: 9px solid $formFeedbackBackgroundColor;
			border-left: 9px solid transparent;
		}
	}
}