.formField
{
	position: relative;

	> i
	{
		color: $formDetailColor;
		font-size: 20px;
		height: 17px;
		left: 20px;
		position: absolute;
		top: calc((#{$formFieldHeight} - 20px) / 2);
	}

	> input, textarea
	{
		width: 100%;
		margin: 0;
		background: $formFieldBackgroundColor;
		padding: calc(#{$formFieldHeight} / 2 - 13px) 25px calc(#{$formFieldHeight} / 2 - 13px) 60px;
		border-radius: 3px;
		border: none;
		height: $formFieldHeight;
		line-height: 26px;
		font-size: inherit;
		outline: none;
		font-family: inherit;
		box-shadow: $formFieldBoxShadow;
		display: block;
	}

	> textarea
	{
		max-width: 100%;
		min-height: 200px;
		padding: 20px 25px;
	}

	&.tip, &.error
	{
		input
		{
			padding-right: 55px;
		}
	}

	&.error
	{
		input, input:focus,
		textarea, textarea:focus
		{
			background: $formFieldErrorBackgroundColor !important;
		}
	}

	@import 'feedback';
}

@import "selectField";
@import "filesField";