.form
{
	.description
	{
		margin-bottom: 40px;
	}

	.form-field-groups
	{
		.form-field-group
		{
			border: 2px solid #f1f1f1;
			border-radius: 5px;
			padding: 30px;
			margin-bottom: 30px;

			legend
			{
				font-size: 24px;
				line-height: 24px;
				font-weight: $regularWeight;
				padding: 0 10px;
				background: #fff;
			}

			.form-field
			{
				display: flex;
				flex-direction: column;
				margin-bottom: 20px;
				margin-top: 0;
				text-align: left;
				word-wrap: break-word;
				width: 100%;

				&:last-of-type
				{
					margin-bottom: 0;
				}

				label
				{
					font-weight: $regularWeight;
					color: $formDetailColor;
					text-align: left;
					margin-bottom: 7px;
					display: block;

					&:first-letter
					{
						text-transform: uppercase;
					}

					&:not(.required)::after
					{
						content: '(optioneel)';
						font-size: 15px;
						font-weight: 300;
						margin-left: 5px;
					}
				}

				.form-field-content
				{
					position: relative;
					display: flex;
					flex-direction: column;

					.form-field-input
					{
						position: relative;
						float: left;
						width: 100%;

						> i
						{
							position: absolute;
							top: 15px;
							left: 20px;
							color: $formDetailColor;
							height: 17px;
							font-size: 20px;
							z-index: 10;
						}

						> input
						{
							font-size: inherit;
							font-family: inherit;
							font-weight: $lightWeight;
							letter-spacing: inherit;
							float: left;
							width: 100%;
							height: 50px;
							padding: 13px 15px 13px 60px;
							border: none;
							border-radius: 3px;
							outline: none;
							background: $formFieldBackgroundColor;
							box-shadow: 0 2px 0 rgba(0, 0, 0, .02) inset;

							&:focus
							{
								box-shadow: 0 2px 0 rgba(96, 178, 85, .07) inset;
							}
						}

						&.error
						{
							> input, input:focus
							{
								background: #fbf3f3 !important;
							}
						}

						@import 'fields/booleanField';
						@import 'fields/selectField';
						@import 'fields/textAreaField';
					}

					@import 'feedback';
				}

				.hint
				{
					font-size: 15px;
					margin-top: 5px;
				}
			}
		}
	}

	.form-controls
	{
		display: flex;
		justify-content: center;

		.form-control-button
		{
			margin-top: 25px;
			text-align: center;
			padding: 18px 25px;
			border-radius: 4px;
			background: $red;
			box-shadow: 0 -3px 0 $shadow inset;

			button
			{
				color: $white;
				background: inherit;
				font-family: inherit;
				font-weight: $regularWeight;
				font-size: 18px;
				outline: none;
				border: none;
			}

			&:hover
			{
				cursor: pointer;
				margin-top: 26px;
				box-shadow: 0 -2px 0 $shadow inset;
				padding-bottom: 17px;
			}

			.loader .spinner
			{
				margin: 0 auto;

				> div
				{
					width: 10px;
					height: 10px;
				}
			}
		}
	}
}
