&.select-field
{
	position: relative;

	float: left;

	width: 100%;
	z-index: 0;

	&, *
	{
		outline: none !important;
	}

	i
	{
		position: absolute;
		top: 15px;
		left: 20px;
		color: $formDetailColor;

		height: 17px;
		font-size: 20px;
		z-index: 999999;
	}

	.formField
	{
		&.error
		{
			.select2-selection
			{
				background: #fbf3f3 !important;
			}
		}

		.feedback
		{
			z-index: 99999;
		}
	}


}
